services:
  - type: web
    name: keycloak
    runtime: docker
    plan: free
    env: docker
    dockerfile: Dockerfile
    port: 8080
    healthCheckPath: /realms/master
    envVars:
      - key: KC_HOSTNAME
        value: as2-centro-sesiones.onrender.com
      - key: KEYCLOAK_ADMIN
        value: admin
      - key: KEYCLOAK_ADMIN_PASSWORD
        fromSecret: true
