services:
  - type: web
    name: keycloak
    runtime: docker
    plan: free
    env: docker
    port: 8080
    startCommand: /opt/keycloak/bin/kc.sh start \
      --hostname=as2-centro-sesiones.onrender.com \
      --hostname-strict=false \
      --http-port=8080 \
      --proxy=edge \
      --db=postgres \
      --db-url=jdbc:postgresql://dpg-d2dm7a8dl3ps73b6dp8g-a.oregon-postgres.render.com:5432/bd_modulo_admin \
      --db-username=dba \
      --db-password=oTR1mAvAQfCNhLpKK7YpUIUyQrva2Ez4
